<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <a class="navbar-brand" href="#">Webshop</a>
  <div id="navIcons">
    <ul class="navbar-nav">
      <li class="nav-item">
        <mat-icon *ngIf="isCartEmpty(); else fullCart">shopping_basket</mat-icon>
      </li>
      <li class="nav-item">
        <ng-template #fullCart>
          <mat-icon matBadge="{{cart.numberOfItems}}" matBadgeColor="warn"
                    onclick="document.getElementById('hiddenCart').style.display = 'block'">shopping_basket
          </mat-icon>
        </ng-template>
      </li>
      <li class="nav-item">
          <mat-icon *ngIf="!isUserLoggedIn()" data-toggle="modal" data-target="#hiddenregisterpage"
                    data-backdrop="true">person_add
          </mat-icon>
      </li>
      <li class="nav-item">
        <!-- <mat-icon onclick="document.getElementById('hiddenloginpage').style.display = 'block'">account_box</mat-icon> -->
        <mat-icon *ngIf="!isUserLoggedIn()" data-toggle="modal" data-target="#hiddenloginpage"
                    data-backdrop="true">account_box
          </mat-icon>
      </li>
      <li class="nav-item">
        <!-- <mat-icon onclick="document.getElementById('hiddenloginpage').style.display = 'block'">account_box</mat-icon> -->
        <mat-icon *ngIf="isUserLoggedIn()" (click)="logout()">exit_to_app
          </mat-icon>
      </li>

    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <!--<span class="navbar-toggler-icon"></span>-->
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="categories">
      <li class="nav-item dropdown" *ngFor="let category of categories">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{category.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let sub of category.subCategories"
             routerLink="{{category.id}}/{{sub.id}}/list">{{sub.name}}</a>
        </div>
      </li>
    </ul>
  </div>

</nav>

<!--<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">-->
<!--<span class="navbar-brand h1" style="color:aliceblue; cursor:pointer;" routerLink="/home">Webshop</span>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"-->
<!--aria-expanded="true" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarNav">-->
<!--<ul class="navbar-nav" *ngIf="categories">-->
<!--<li class="nav-item" *ngFor="let category of categories">-->
<!--<div class="categ">-->
<!--<a class="nav-link">{{category.name}}</a>-->
<!--<div class="subcategories">-->
<!--<a *ngFor="let sub of category.subCategories" routerLink="{{category.id}}/{{sub.id}}/list">{{sub.name}}</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<span class="navbar-text icon-custom">-->

<!--</span>-->
<!--</nav>-->

<!-- <div id="hiddenloginpage" style="display: none;">
  <app-login></app-login>
</div> -->

<app-login></app-login>
<app-register></app-register>

<div id="hiddenCart" style="display: none;">
  <app-cart></app-cart>
</div>
