nav, nav .dropdown-menu {
  background-color: #009680;
  color: aliceblue;
}

nav .dropdown-item:hover,
nav .dropdown-item:hover a {
  color: #111;
  background: #ffc107;
}

button.navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, .5);
}

button.navbar-toggler:hover {
  color: aliceblue;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content,
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -.2rem;
  right: -.3rem;
  width: 2em;
  height: 2em;
  font-size: .4em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: .1em;
}

a {
  color: aliceblue !important;
}

.nav-link, .dropdown-item {
  text-transform: capitalize;
}

#navIcons {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

#navIcons .navbar-nav {
  flex-direction: unset;
  -ms-flex-direction: unset;
}

#navIcons .navbar-nav .nav-item {
  display: inline-block;

}

#navIcons .navbar-nav .nav-item mat-icon {
  cursor: pointer;
  padding: .2rem;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, .5);
}

#navIcons .navbar-nav .nav-item mat-icon:hover {
  color: aliceblue;
}

@media only screen and (min-width: 992px) {
  #navIcons {
    position: absolute;
    right: 1rem;
  }

  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }

  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }

  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
  }
}

/*a:hover {*/
/*background-color: #ffc107;*/
/*color: #111 !important;*/
/*border-radius: 4px;*/
/*user-select: none; */
/*}*/

/*.navbar-custom {*/
/*background-color: #009680;*/
/*}*/

/*.icon-custom { */
/*position: absolute;*/
/*right: 5%;*/
/*user-select: none; */
/*}*/

/*span>mat-icon{*/
/*font-size: 1.7em;*/
/*padding: 0.6em;*/
/*cursor: pointer;*/
/*}*/

/*.hiddenloginpage {*/
/*display: none !important;*/
/*}*/

/*.categ {*/
/*position: relative;*/
/*display: inline-block;*/
/*}*/

/*.subcategories {*/
/*display: none;*/
/*position: absolute;*/
/*background-color: #009680;*/
/*min-width: 160px;*/
/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*z-index: 10;*/
/*border-radius: 4px;*/
/*}*/

/*.subcategories a {*/
/*padding: 12px 16px;*/
/*text-decoration: none;*/
/*display: block;*/
/*}*/

/*.subcategories a:hover {*/
/*cursor: pointer;*/
/*}*/

/*.categ:hover .subcategories {*/
/*display: block;*/
/*}*/
