<div class="container product-detail">
  <div class="row">
    <div class="col-md-4">
      <img src="https://www.haziallat.hu/upload/4/article/5472/lead_300x200.jpg" style="border-radius:4px;">
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h4>{{product.productDescription.name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <p>{{product.productDescription.manufacturer}}</p>
              <p>{{product.productDescription.shortDescription}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>{{product.productDescription.priceInHUF}} Ft</h6>
            </div>
          </div>
          <div class="row">
          <div class="price">
              <span (click)="cart.addProduct(product); $event.stopPropagation()">Kosárba vele!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>