.product-detail {
    background-color: #009680;
    box-shadow : 10px 10px 10px #888;
    padding: 1em;
    color: aliceblue;
    border-radius: 4px;
}
.product-detail:hover {
    box-shadow : 10px 10px 10px #999 !important;
}
.price > span {
    padding: 30px;

}
.price:hover {
    background-color: #ffc107;
    color: #111 !important;
    border-radius: 4px;
    cursor: pointer;
}
