<div class="container">

  <form *ngIf="!submitted" name="form" (ngSubmit)="sendOrder()" #f="ngForm" novalidate [ngClass]="{ 'was-validated': f.submitted }">
    <h6 class="color-aliceblue">
      <i class="fas fa-map-marker-alt fa-fw"></i>
      Cím
    </h6>
    <hr class="color-aliceblue mt-0">

    <div class="form-group">
      <ngx-select [items]="countries" [placeholder]="'Ország'" [ngModelOptions]="{standalone: true}" [(ngModel)]="address.countryEnum"
        [required]="true" #countryEnum="ngModel" id="countryEnum" [size]="'small'">
      </ngx-select>
      <div *ngIf="f.submitted && !countryEnum.valid" class="invalid-feedback mt-0 small">*A mező kitöltése kötelező</div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input name="postalCode" type="number" class="form-control form-control-sm" id="postalCode" placeholder="Irányítószám"
            min="1000" [(ngModel)]="address.postalCode" #postalCode="ngModel" required>
          <div *ngIf="f.submitted && !postalCode.valid" class="invalid-feedback mt-0 small">*A mező kitöltése kötelező</div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <input name="city" type="text" class="form-control form-control-sm" id="city" placeholder="Település"
            [(ngModel)]="address.city" #city="ngModel" required>
          <div *ngIf="f.submitted && !city.valid" class="invalid-feedback mt-0 small">*A mező kitöltése kötelező</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input name="nameOfPublicPlace" type="text" class="form-control form-control-sm" id="nameOfPublicPlace"
            placeholder="Közterület neve" [(ngModel)]="address.nameOfPublicPlace" #nameOfPublicPlace="ngModel" required>
          <div *ngIf="f.submitted && !nameOfPublicPlace.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
            kötelező </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <ngx-select [items]="typesOfPublicPlace" [placeholder]="'Közterület jellege'" [(ngModel)]="address.typeOfPublicPlace"
            #typeOfPublicPlace="ngModel" id="typeOfPublicPlace" [required]="true" [size]="'small'" [ngModelOptions]="{standalone: true}">
          </ngx-select>
          <div *ngIf="f.submitted && !typeOfPublicPlace.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
            kötelező</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input name="streetNumber" type="number" class="form-control form-control-sm" id="streetNumber" placeholder="Házszám"
            [min]="1" [(ngModel)]="address.streetNumber" #streetNumber="ngModel" required>
          <div *ngIf="f.submitted && !streetNumber.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
            kötelező</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <input name="floorNumber" type="number" class="form-control form-control-sm" id="floorNumber" placeholder="Emelet"
            [(ngModel)]="address.floorNumber" #floorNumber="ngModel">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <input name="door" type="text" class="form-control form-control-sm" id="door" placeholder="Ajtó" [(ngModel)]="address.door"
            #door="ngModel">
        </div>
      </div>

      <div class="col-sm-12">
        <h6 class="color-aliceblue">
          <i class="fas fa-hand-holding-usd"></i>
          Tájékoztatjuk kedves vásárlóinkat, hogy a fizetés utánvéttel történik
        </h6>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="loading" class="btn btn-warning" type="submit">Megrendelem!</button>
    </div>

  </form>

  <div *ngIf="submitted" class="col-sm-12">
    <h6 class="color-aliceblue">
      <i class="fas fa-hand-holding-usd"></i>
      Rendelésed rögzítettük
    </h6>
  </div>
</div>