.loginbackground {
    position : fixed;
    top: 0;
    left : 0;
    opacity : 0.5;
    background-color : #888;
    width : 100%;
    height : 100%;
    z-index : 1031;
    cursor : pointer;
}

.login-panel {
    position: fixed;
    top: 10%;
    left : 25%;
    width : 50%;
    height : 80%;
    overflow-y : auto;
    overflow-x :hidden;
    background-color : #fffff8;
    box-shadow : 10px 10px 10px #888;
    z-index : 1032;
    background-color:  #009680;
    border-radius: 4px;
}

input[type=email], input[type=password] {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

button {
    display: inline-block;
}