<div class="cartbackground" onclick="document.getElementById('hiddenCart').style.display = 'none'">
</div>
<div class="cart-panel">
  <div class="row">
    <div class="panel panel-default cart-panel">
      <div *ngIf="cart.numberOfItems > 0; else emptyCartText">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Termék </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Ár </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} Ft</mat-cell>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Darab </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
          </ng-container>

          <!-- Remove Column -->
          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef> Töröl </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon (click)="cart.removeProduct(element)">highlight_off</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <span style="color: aliceblue !important;">Végösszeg: {{cart.sumPrices()}} Ft</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3 cart-action" (click)="cart.emptyCart()">
            <span>Kosár törlése</span>
          </div>
          <div class="col-md-2">
          </div>
          <!-- <div class="col-md-3 cart-action" (click)="goToOrder();" onclick="document.getElementById('hiddenCart').style.display = 'none'"> -->
              <div class="col-md-3 cart-action" (click)="showOrder();">
            <span>Megrendelem!</span>
          </div>
        </div>
      </div>
      <ng-template #emptyCartText>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h3 style="color: aliceblue !important;">Üres a kosarad</h3>
          </div>
          <div class="col-md-4"></div>
        </div>

      </ng-template>


      <app-order *ngIf="isOrderVisible && cart.numberOfItems > 0"></app-order>

    </div>
  </div>
</div>