.cartbackground {
    position : fixed;
    top: 0;
    left : 0;
    opacity : 0.5;
    background-color : #888;
    width : 100%;
    height : 100%;
    z-index : 1031;
    cursor : pointer;
}

.cart-panel {
    position: fixed;
    top: 10%;
    left : 25%;
    width : 50%;
    height : 80%;
    overflow-y : auto;
    overflow-x :hidden;
    background-color : #fffff8;
    box-shadow : 10px 10px 10px #888;
    z-index : 1032;
    background-color:  #009680;
    border-radius: 4px;
}

.cart-action {
    background-color: #ffc107;
    color: #111 !important;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

mat-table, mat-header-cell, mat-cell {
    background-color:  #009680;
    color: aliceblue !important;
}