<a (click)="goToDetailPage(product.id)">
<div class="card text-white border-secondary mb-3 text-center">
  <img class="card-img-top" src="https://www.haziallat.hu/upload/4/article/5472/lead_300x200.jpg" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">{{product.productDescription.name}}</h5>
    <p class="card-text">{{product.productDescription.shortDescription}}</p>
  </div>
  <div class="card-footer border-warning">
    <p class="card-text" style="float:left;"><small>{{product.productDescription.priceInHUF}} Ft</small></p>
    <div class="price">
      <span (click)="cart.addProduct(product); $event.stopPropagation()">Kosárba vele!</span>
    </div>
  </div>
</div>
</a>