.price {
    display:inline-block;
    height: 2em;
}
.price > span {
    padding: 30px;

}
.price:hover {
    background-color: #ffc107;
    color: #111 !important;
    border-radius: 4px;
    cursor: pointer;
}
a {
    color: unset;
    text-decoration: none;
}

.card {
    max-width: 15rem;
    background-color: #009680;
    box-shadow : 10px 10px 10px #888;
}

.card:hover {
    box-shadow : 10px 10px 10px #999 !important;
}

.card-footer {
    display: flex;
justify-content: space-between;
}