/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/cdk/overlay-prebuilt.css';

@include mat-core();
$frontend-primary: mat-palette($mat-teal);
$frontend-accent: mat-palette($mat-amber, 500, 900, A100);
$frontend-warn: mat-palette($mat-deep-orange);

$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

@include angular-material-theme($frontend-theme);

$red: #ff5722;
$yellow: #ffc107;
$green: #009680;
$aliceblue: #F0F8FF;

body {
  background-color: $yellow;
}

.was-validated .ng-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated .ng-invalid .ngx-select__toggle,
.was-validated .ng-valid .ngx-select__toggle,
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid,
.was-validated .form-control.ng-invalid {
  border-width: 2px;
}

.was-validated .ng-valid .ngx-select__toggle {
  border-color: #28a745;
}

.bg-green {
  background: $green !important;
  border-color: $green;

  .was-validated .ng-invalid .ngx-select__toggle,
  .was-validated .custom-select.is-invalid,
  .was-validated .form-control.is-invalid,
  .was-validated .custom-select:invalid,
  .was-validated .form-control:invalid,
  .was-validated .form-control.ng-invalid {
    border-color: $yellow;
  }

  .invalid-feedback {
    color: $yellow;
  }

  .close {
    color: $aliceblue;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  }

  .close:not(:disabled):not(.disabled):hover {
    color: white;
  }
}

.bg-yellow {
  background: $yellow !important;
  border-color: $yellow;
}

.color-aliceblue {
  color: $aliceblue !important;

  * {
    color: $aliceblue;
    border-color: $aliceblue;
  }
}

.color-aliceblue:not(.btn-link) {
  border-color: $aliceblue;
}

.color-hover-white:hover {
  color: white !important;

  *:hover {
    color: white;
  }
}
