<div id="hiddenregisterpage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-green">
      <div class="modal-header">
        <h5 class="modal-title color-aliceblue text-uppercase" id="exampleModalLabel">
          <i class="fas fa-user-plus fa-fw"></i>
          Regisztrálás
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate [ngClass]="{ 'was-validated': f.submitted }">
        <div class="modal-body">

          <div class="form-group" [ngClass]="{ 'was-validated': emailAddress.touched }">
            <input name="emailAddress" type="email" class="form-control form-control-sm" id="emailAddress"
                   placeholder="Email cím"
                   [(ngModel)]="model.emailAddress" #emailAddress="ngModel" required email>
            <small
              *ngIf="emailAddress.invalid && (f.submitted || emailAddress.touched || emailAddress.dirty)"
              class="invalid-feedback mt-0">
              <span *ngIf="emailAddress?.errors.required">*A mező kitöltése kötelező</span>
              <span *ngIf="emailAddress?.errors.email">Érvénytelen email cím</span>
              <span *ngIf="emailAddress?.errors.exist">A megadott email cím már foglalt.</span>
            </small>
          </div>

          <div class="form-group" [ngClass]="{ 'was-validated': transientPassword.touched }">
            <input name="transientPassword" type="password" class="form-control form-control-sm" id="transientPassword"
                   placeholder="Jelszó"
                   [(ngModel)]="model.transientPassword" #transientPassword="ngModel" required>
            <small
              *ngIf="transientPassword.invalid && (f.submitted || transientPassword.touched || transientPassword.dirty)"
              class="invalid-feedback mt-0">
              <span *ngIf="transientPassword?.errors.required">*A mező kitöltése kötelező</span>
            </small>
          </div>

          <div class="form-group" [ngClass]="{ 'was-validated': transientPasswordReply.touched }">
            <input name="transientPasswordReply" type="password" class="form-control form-control-sm"
                   id="transientPasswordReply"
                   placeholder="Jelszó még egyszer"
                   [(ngModel)]="other.transientPasswordReply" #transientPasswordReply="ngModel"
                   required passwordMatch="transientPassword">
            <small
              *ngIf="transientPasswordReply.invalid && (f.submitted || transientPasswordReply.touched || transientPasswordReply.dirty)"
              class="invalid-feedback mt-0">
              <span *ngIf="transientPasswordReply?.errors.required">*A mező kitöltése kötelező</span>
              <span *ngIf="transientPasswordReply?.errors.match">A két jelszó nem egyezik</span>
            </small>
          </div>

          <h6 class="color-aliceblue">
            <i class="fas fa-id-card fa-fw"></i>
            Személyes adatok
          </h6>
          <hr class="color-aliceblue mt-0">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input name="lastName" type="text" class="form-control form-control-sm" id="lastName"
                       placeholder="Vezetéknév"
                       [(ngModel)]="model.userData.lastName" #lastName="ngModel" required>
                <small *ngIf="f.submitted && !lastName.valid" class="invalid-feedback mt-0">*A mező kitöltése kötelező
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input name="firstName" type="text" class="form-control form-control-sm" id="firstName"
                       placeholder="Keresztnév"
                       [(ngModel)]="model.userData.firstName" #firstName="ngModel" required>
                <div *ngIf="f.submitted && !firstName.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
                  kötelező
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'was-validated': phoneNumber.touched }">
            <input name="phoneNumber" type="tel" class="form-control form-control-sm" id="phoneNumber"
                   placeholder="Telefonszám" phone
                   [(ngModel)]="model.userData.phoneNumber" #phoneNumber="ngModel" required>
            <small
              *ngIf="phoneNumber.invalid && (f.submitted || phoneNumber.touched || phoneNumber.dirty)"
              class="invalid-feedback mt-0">
              <span *ngIf="phoneNumber?.errors.required">*A mező kitöltése kötelező</span>
              <span *ngIf="phoneNumber?.errors.phone">A telefonszám formátum nem megfelelő</span>
            </small>
          </div>

          <h6 class="color-aliceblue">
            <i class="fas fa-map-marker-alt fa-fw"></i>
            Cím
          </h6>
          <hr class="color-aliceblue mt-0">

          <div class="form-group">
            <ngx-select [items]="countries" [placeholder]="'Ország'" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="model.userData.address.countryEnum" [required]="true"
                        #countryEnum="ngModel" id="countryEnum" [size]="'small'">
            </ngx-select>
            <div *ngIf="f.submitted && !countryEnum.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
              kötelező
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'was-validated': postalCode.touched }">
                <input name="postalCode" type="number" class="form-control form-control-sm" id="postalCode"
                       placeholder="Irányítószám" postalCode (change)="searchCity(postalCode.value)"
                       [(ngModel)]="model.userData.address.postalCode" #postalCode="ngModel" required>
                <small
                  *ngIf="(postalCode.invalid) && (f.submitted || postalCode.touched || postalCode.dirty)"
                  class="invalid-feedback mt-0">
                  <span *ngIf="postalCode?.errors.required">*A mező kitöltése kötelező</span>
                  <span *ngIf="postalCode?.errors.invalid">Értvénytelen Irányítószám</span>
                </small>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <input name="city" type="text" class="form-control form-control-sm" id="city"
                       placeholder="Település" [value]="cityName"
                       [(ngModel)]="model.userData.address.city" #city="ngModel" required>
                <div *ngIf="f.submitted && !city.valid" class="invalid-feedback mt-0 small">*A mező kitöltése kötelező
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input name="nameOfPublicPlace" type="text" class="form-control form-control-sm" id="nameOfPublicPlace"
                       placeholder="Közterület neve"
                       [(ngModel)]="model.userData.address.nameOfPublicPlace" #nameOfPublicPlace="ngModel" required>
                <div *ngIf="f.submitted && !nameOfPublicPlace.valid" class="invalid-feedback mt-0 small">*A mező
                  kitöltése
                  kötelező
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <ngx-select [items]="typesOfPublicPlace" [placeholder]="'Közterület jellege'"
                            [(ngModel)]="model.userData.address.typeOfPublicPlace"
                            #typeOfPublicPlace="ngModel" id="typeOfPublicPlace" [required]="true" [size]="'small'"
                            [ngModelOptions]="{standalone: true}">
                </ngx-select>
                <div *ngIf="f.submitted && !typeOfPublicPlace.valid" class="invalid-feedback mt-0 small">*A mező
                  kitöltése
                  kötelező
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input name="streetNumber" type="number" class="form-control form-control-sm" id="streetNumber"
                       placeholder="Házszám" [min]="1"
                       [(ngModel)]="model.userData.address.streetNumber" #streetNumber="ngModel" required>
                <div *ngIf="f.submitted && !streetNumber.valid" class="invalid-feedback mt-0 small">*A mező kitöltése
                  kötelező
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <input name="floorNumber" type="number" class="form-control form-control-sm" id="floorNumber"
                       placeholder="Emelet"
                       [(ngModel)]="model.userData.address.floorNumber" #floorNumber="ngModel">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <input name="door" type="text" class="form-control form-control-sm" id="door"
                       placeholder="Ajtó"
                       [(ngModel)]="model.userData.address.door" #door="ngModel">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link color-hover-white color-aliceblue" data-dismiss="modal">
            Mégsem
          </button>
          <button [disabled]="loading" class="btn btn-warning" type="submit">Regisztrálás</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
      </form>
    </div>
  </div>
</div>
